@layer components {
  .bill-step {
    @apply relative flex cursor-pointer flex-col items-center pr-2 text-gray-500 transition-all;
    @apply dark:text-violet-100;

    &:hover,
    &:focus-within {
      @apply text-violet-500 dark:text-white;
      .step-icon {
        /* box-shadow: 0 0 0 2px currentColor, 0 0 0 4px theme("colors.violet.200"); */
        @apply ring-4 ring-violet-500 dark:ring-violet-100;
      }
    }

    &.is-fullfilled {
      @apply text-violet-500 dark:text-violet-100;

      .step-fake-checkbox svg {
        @apply scale-100;
      }

      .step-icon {
        background-size: 100% 100%;
        svg {
          @apply text-white dark:text-violet-800;
        }
      }
    }

    &.is-late {
      .step-fake-checkbox {
        @apply bg-red-600 text-white ring-2 ring-red-600;
        + * {
          @apply text-red-600;
        }
      }
    }

    &.is-disabled {
      &:not(.is-late) {
        opacity: 0.65;
      }
      pointer-events: none;
    }
  }

  .step-cashed {
    padding-left: theme("padding.2");
    &.is-fullfilled {
      --delay: 100ms;
      .step-icon::before {
        animation: lineDraw 100ms ease forwards;
      }
    }
  }

  .step-cashed .step-icon::before {
    @apply absolute top-1/2 right-full
    scale-x-0 bg-violet-500;
    content: "";
    height: 3px;
    transform-origin: left center;
    transition: 200ms ease all var(--delay, 0ms);
    width: 2.75em;

    svg {
      transition-delay: var(--delay, 0ms);
    }
  }

  .step-icon {
    @apply relative rounded-sm bg-gradient-to-t p-1;
    @apply from-violet-500 to-violet-500;
    @apply dark:from-violet-100 dark:to-violet-100;
    box-shadow: 0 0 0 2px currentColor, 0 0 0 0 theme("colors.violet.200");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 0;
    transition: 200ms ease all var(--delay, 0ms);
  }

  .step-fake-checkbox {
    @apply -mb-1 flex h-3 w-3 -translate-y-1/2 bg-white;
    @apply dark:bg-violet-800;
    box-shadow: 0 0 0 2px currentColor;
    border-radius: theme("borderRadius.sm");
    transition-delay: var(--delay, 0ms);

    svg {
      margin: auto;
      transition: 200ms ease all;
      transform: scale(0);
      transition-delay: var(--delay, 0ms);
    }
  }

  @keyframes lineDraw {
    from {
      transform: scaleX(0);
      transform-origin: left center;
    }
    50% {
      transform: scaleX(1);
      transform-origin: left center;
    }
    51% {
      transform-origin: right center;
    }
    to {
      transform: scaleX(0);
      transform-origin: right center;
    }
  }
}
