@layer components {
  @keyframes billDeleteIn {
    from {
      clip-path: inset(1em 1em 1em calc(100% - 1em));
    }
    to {
      clip-path: inset(-1em);
    }
  }

  @keyframes billDeleteOut {
    from {
      clip-path: inset(-1em);
    }
    to {
      clip-path: inset(25% 1em 25% calc(100% - 1em));
    }
  }

  .bill-delete-dialog:not(.hidden) {
    animation: 300ms ease billDeleteIn forwards;

    &.hidding {
      animation: 300ms ease billDeleteOut forwards;
    }
  }
}
