@layer components {
  nav.route-is-changing .nav-link.is-active {
    animation-name: nav-link-exit;

    &::before {
      animation-name: arrowLeave;
    }
  }

  .nav-link {
    background: linear-gradient(
          theme(colors.violet.500),
          theme(colors.violet.500)
        )
        center bottom / 100% 0 no-repeat,
      linear-gradient(theme(colors.violet.50), theme(colors.violet.50)) center
        bottom / 100% 0 no-repeat;
    display: flex;
    overflow: hidden;
    color: theme(colors.violet.500);
    justify-content: center;
    align-items: center;
    padding: theme(spacing.2);
    border-radius: inherit;
    font-size: theme(fontSize.sm);
    font-weight: theme(fontWeight.bold);
    @apply transition-all;
    transition: 200ms all ease-in-out;
    position: relative;
    @apply sm:text-base;

    &::before {
      content: "";
      position: absolute;
      border-bottom: 0.5em solid theme(colors.violet.25);
      border-left: 0.5em solid transparent;
      border-right: 0.5em solid transparent;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      transition: inherit;
      transition-delay: 200ms;
    }

    &:hover,
    &:focus-visible {
      background-size: 100% 0, 100% 100%;
      outline: 0;
    }

    &.is-active {
      animation: nav-link-enter 200ms ease-in-out forwards;

      svg {
        opacity: 1;
      }

      &:focus-visible {
        @apply ring ring-violet-200;
      }

      &::before {
        animation: arrowEnter 200ms ease-in-out forwards;
      }
    }
  }

  .dark {
    nav.route-is-changing .nav-link {
      color: theme(colors.violet.100) !important;
    }

    .nav-link {
      background-image: linear-gradient(
          theme(colors.violet.500),
          theme(colors.violet.500)
        ),
        linear-gradient(theme(colors.violet.600), theme(colors.violet.600));
      color: theme(colors.violet.100);

      &:hover,
      &:focus-visible {
        color: #fff;
      }
    }
  }

  @keyframes nav-link-enter {
    to {
      background-size: 100% 100%, 100% 0%;
      color: #fff;
    }
  }
  @keyframes nav-link-exit {
    from {
      background-size: 100% 100%, 100% 0%;
      color: #fff;
    }
    to {
      background-size: 100% 0%, 100% 0%;
      color: theme(colors.violet.500);
    }
  }

  @keyframes arrowEnter {
    to {
      transform: translateX(-50%) translateY(0);
    }
  }

  @keyframes arrowLeave {
    to {
      transform: translateX(-50%) translateY(100%);
    }
  }
}
