@import "./components/bill-delete-dialog.css";
@import "./components/bill-steps.css";
@import "./components/button.css";
@import "./components/grid-cols-bills.css";
@import "./components/project-wrapper.css";
@import "./components/input.css";
@import "./components/nav-link.css";
@import "./pages-templates/homepage-landing.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top, 2em);
  } */
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 198deg 93% 60%;
  }
  [hidden] {
    display: none !important;
  }

  svg.more-contrast > path {
    stroke-width: var(--stroke-width, 48);
  }
}
