@import "./components/bill-delete-dialog.css";
@import "./components/bill-steps.css";
@import "./components/button.css";
@import "./components/grid-cols-bills.css";
@import "./components/project-wrapper.css";
@import "./components/input.css";
@import "./components/nav-link.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding-top, 2em);
  }
  [hidden] {
    display: none !important;
  }

  svg.more-contrast > path {
    stroke-width: var(--stroke-width, 48);
  }
}
